@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
   This is the first completed project  done while learning to code at Centriq TechSmartKC.  I really had a great time not getting in my way.
                        <p>This is a  demonstration of what I can do with MVC!  Granted this is pretty small but what do you expect 
                        from a junior developer?!?!  </p>
</p>

@section intro{
                    <div class="intro-content">

                    <h2>Welcome to the Store! </h2>


                   @* <p>
                        <a href="#" class="button button-slider"><i class="fa fa-gbp"></i>Lorem ipsum dolor</a>
                        <a href="#" class="button button-reversed button-slider"><i class="fa fa-info"></i>Consectetuer adipiscing</a>
                    </p>*@


                </div>

    }